---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { Image } from "astro:assets";
import Card from "../../components/Card.astro";
import Button from "../../components/Button";
import { BtnActions } from "../../components/Button";
import { type UnsplashPhoto } from "../../models/unsplash";

export const prerender = false;

const response = await fetch("https://api.unsplash.com/photos", {
	method: "GET",
	headers: {
		Authorization: "Client-ID " + import.meta.env.UNSPLASH_ACCESS_KEY,
	},
});
const photoList = await response.json();
console.log(photoList);
---

<StarlightPage
	frontmatter={{
		title: "Unsplash Photo-Book",
		template: "splash",
	}}
>
	<div class="container mx-auto my-1 text-center text-justify-center">
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
			{
				photoList.map((photo: UnsplashPhoto) => (
					<Card photo={photo}>
						<div class="flex flex-col text-start gap-2">
							<p class="h-16">{photo.alt_description}</p>
							<Button
								client:load
								withIcon={true}
								buttonText="See Photo"
								iconClass="flex items-end"
								btnAction={BtnActions.ViewPhoto}
								actionURL={photo.links.download}
							/>
						</div>
					</Card>
				))
			}
		</div>
	</div>
</StarlightPage>
